/* Add here all your CSS customizations */


@keyframes rotate {0%{transform:rotate(360deg)}}
@keyframes wink {50%{opacity:0}}
.spinnerx{
  width:7em;
  margin:3em auto;
	position:relative;
  &:before{
		content:"";
		display:block;
    width:7em;
    height:1em;
    margin:3em auto;
    padding:3em 0;
    border-radius:50%;
    border:2px solid #2f416f;
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
    animation:rotate 1s ease infinite;
  }
  &:after{
    content:"Loading";
    position:absolute;
		top:0;
    color:#2f416f;
    font:.9em sans-serif;
    width:8em;
    line-height:8em;
    text-align:center;
    animation:wink 1.4s ease infinite;
  }
}
